

<div *ngIf="isOpenModal" class="fixed inset-0 flex items-center justify-center z-50 ">
    <div class="fixed inset-0 bg-black opacity-60" (click)="close()"></div>
    <div class="bg-white rounded-lg shadow-lg max-w-2xl w-full z-10 relative">
      <button
        type="button"
        (click)="close()"
        class="absolute top-4 right-4 text-gray-400 hover:text-gray-800"
      >
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
      <div class="text-lg font-medium bg-gray-100 py-3 px-5 rounded-t-lg">
          {{ LocationData?.id ? ('Update Location') : ('Add Location') }}
      </div>
      <div class="max-h-[85vh] overflow-y-auto ">
        <div class="mt-5">
          <form class="space-y-5" [formGroup]="locationModalForm" (ngSubmit)="submit()">
            <div class="px-5 py-3">
              <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div [ngClass]="isSubmitForm ? locationModalForm.controls['FirstName'].errors ? 'has-error' : 'has-success' : ''" class="relative">
                    <input type="text" id="zipcode" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer form-input" formControlName="zipcode" placeholder=" " />
                    <label for="zipcode" class="absolute bg-white text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-focus:bg-white peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-3 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">ZipCode</label>
                    <ng-container *ngIf="isSubmitForm && locationModalForm.controls['zipcode'].errors">
                        <p class="mt-1 text-danger">Please fill the ZipCode</p>
                    </ng-container>
                </div>
                <div [ngClass]="isSubmitForm ? locationModalForm.controls['state'].errors ? 'has-error' : 'has-success' : ''" class="relative">
                  <input type="text" id="state" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer form-input" formControlName="state" placeholder=" " />
                  <label for="state" class="absolute bg-white text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-focus:bg-white peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-3 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">State</label>
                  <ng-container *ngIf="isSubmitForm && locationModalForm.controls['address1'].errors">
                      <p class="mt-1 text-danger">Please fill the State</p>
                  </ng-container>
              </div> 
               
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-3">
                <div [ngClass]="isSubmitForm ? locationModalForm.controls['address1'].errors ? 'has-error' : 'has-success' : ''" class="relative">
                    <input type="text" id="address1" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer form-input" formControlName="address1" placeholder=" " />
                    <label for="address1" class="absolute bg-white text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-focus:bg-white peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-3 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Address 1</label>
                    <ng-container *ngIf="isSubmitForm && locationModalForm.controls['address1'].errors">
                        <p class="mt-1 text-danger">Please fill the Address 1</p>
                    </ng-container>
                </div> 
                <div [ngClass]="isSubmitForm ? locationModalForm.controls['address2'].errors ? 'has-error' : 'has-success' : ''" class="relative">
                    <input type="text" id="address2" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer form-input" formControlName="address2" placeholder=" " />
                    <label for="address2" class="absolute bg-white text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-focus:bg-white peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-3 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Address 2</label>
                    <ng-container *ngIf="isSubmitForm && locationModalForm.controls['address1'].errors">
                        <p class="mt-1 text-danger">Please fill the Address 2</p>
                    </ng-container>
                </div> 
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-3">
                <div [ngClass]="isSubmitForm ? locationModalForm.controls['city'].errors ? 'has-error' : 'has-success' : ''" class="relative">
                    <input type="text" id="city" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer form-input" formControlName="city" placeholder=" " />
                    <label for="city" class="absolute bg-white text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-focus:bg-white peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-3 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">City</label>
                    <ng-container *ngIf="isSubmitForm && locationModalForm.controls['city'].errors">
                        <p class="mt-1 text-danger">Please fill the City</p>
                    </ng-container>
                </div> 
                <div [ngClass]="isSubmitForm ? locationModalForm.controls['teritory'].errors ? 'has-error' : 'has-success' : ''">
                  <label for="type">Teritory</label>
                  <ng-select
                  [items]="TeritoryOptions"
                  formControlName="teritory"
                  [clearable]="false"
                  placeholder="Select Teritory"
              >
              </ng-select>
              <ng-container *ngIf="isSubmitForm && locationModalForm.controls['teritory'].errors">
                  <p class="mt-1 text-danger">Please Select Teritory</p>
              </ng-container>
              </div>
                
            </div>
              
          </div>
              <div class="flex justify-end items-center gap-4 bg-gray-100 p-3 rounded-b-lg">
                  <button
                    type="button"
                    (click)="close()"
                    class="btn btn-sm btn-outline-danger border border-red-500 text-red-500 rounded"
                  >
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
              </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  